__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.egg
*.manifest
*.spec

.venv/
venv/
env/
ENV/
.venv.bak/
poetry.lock

.idea/
.vscode/
.DS_Store
Thumbs.db

.pytest_cache/
htmlcov/
.cache/

vacancies.json
logs/